<<<<<<< HEAD

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.profile {
    padding: 1.5em;
    height: 90%;
}

.checkout a{
    position: absolute;
    top: 18px;
    margin-left: 20px;
}

.checkout a:link{
    color: #343a40;
}

.text-center{
    padding: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 80px;
}

p {
=======
.container-profile{
    padding: 3em;

}

p{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    font-weight: 500;

}

<<<<<<< HEAD
.titulo_profile {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 1em;
    position: relative;

}

.nombre_user{
=======
.titulo_profile{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}



h6{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    font-weight: 700;
    text-align: left;
}

<<<<<<< HEAD
.conteiner_datos {
=======


.conteiner_datos{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    background-color: white;
    height: 13em;
    padding: 1em;
    border-radius: 1em;
}

<<<<<<< HEAD
.conteiner_datos2 {
=======
.conteiner_datos2{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    background-color: white;
    height: 3em;
    border-radius: 1em;
}

<<<<<<< HEAD
.history_profile {
    font-weight: 700;
    align-items: center;
    text-align: center;
    padding: 1.2em;
    font-size: 0.8em;

}

.form-group {
=======
.history_profile{
    font-weight: 700;
     align-items: center;
     text-align: center;
     padding: 1.2em;
     font-size: 0.8em;

}



.form-group{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    margin-top: 0.5em;
    border-bottom: 0.0001em solid rgb(156, 156, 156);
}

<<<<<<< HEAD
.detalles_profile {
=======
.detalles_profile{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD
.detalles_profile2 {
=======
.detalles_profile2{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em 0 0.5em;
    align-items: center
}

<<<<<<< HEAD
.change_profile {
=======
.change_profile{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    color: #FA4A0C;
    font-weight: 500;
}

<<<<<<< HEAD
.label_profile {
=======
.label_profile{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    font-size: 0.8em;
    color: #818181;
    margin-top: 1em;
}

<<<<<<< HEAD
.label_profile_name {
=======
.label_profile_name{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    font-size: 0.8em;
    color: #818181;
}

<<<<<<< HEAD
.btn-ingreso {
    text-align: center;
}

.btn-register {
=======


.btn-ingreso{
    text-align: center;

}

.btn-register{
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
    margin-top: 6em;
    background-color: #FA4A0C;
    border-style: none;
    border-radius: 1.4em;
    padding: 1em;
    width: 15em;
    color: white;

}
<<<<<<< HEAD
=======


/* Estilos del update */

.container-profile-update1{
    padding: 0em 3em 0 3em;

}

.titulo_profile-update{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    padding-top: 3em;
}

.conteiner_datos-update{
    background-color: white;
    padding: 0.1em 1em 2em 1em;
    border-radius: 1em;
    height: 14em;

}

.form-control-update{
    font-size: 0.9em;
    font-weight: 500;
    color: #3b3b3b;
    margin-top: -1em;
    border-style: none;
    background:none; 
    border:none; 
    outline:0;
}

.form-group-update{
    border-bottom: 0.0001em solid rgb(156, 156, 156);

}



.label_profile_update{
    font-size: 0.7em;
    color: #818181;
}



.btn-profile-update{
    text-align:center;
    margin-top: 3em;
}

.btn-profile2-update{
    margin-top: 6em;
    background-color: #FA4A0C;
    border-style: none;
    border-radius: 1.2em;
    padding: 1em;
    width: 15em;
    color: white;

}
>>>>>>> 945eb7379754c8fa87ea0770f4d15249ac9f8d31
