<div class="footer">
    <div class="row">
        <div class="col">
            <div class="icono-footer">
                    <a routerLink="/home" [routerLinkActive]="['active']">
                        <i class="fa-solid fa-house"></i>
                    </a>

            </div>
            
        </div>
        <div class="col">
            
            <div class="icono-footer">
                <a routerLink="/profile" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user"></i>
            </a>
            </div>
            
        </div>
        <div class="col">
            <div class="icono-footer">
                <a routerLink="/history" [routerLinkActive]="['active']">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </a>
            </div>
        </div>
    </div>
</div>
