.footer{
    padding: 3px;
    position: relative;
}
.col{
    font-size: 20px;
    text-align: center;
}
a{
    color: #afafb1;
}

a:hover{
    color: #fa4a0c;
    text-decoration: none;
}

.active{
    color: #fa4a0c;
}