<div class="footer">
    <div class="row">
        <div class="col">
            <div class="icono-footer">
                    <a routerLink="/principal/home" [routerLinkActive]="['active']">
                        <i class="fa-solid fa-house"></i>
                    </a>
            </div>
            
        </div>
        <div class="col">
            
            <div class="icono-footer">
                <a routerLink="/principal/profile" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user"></i>
            </a>
            </div>
            
        </div>
        <div class="col">
            <div class="icono-footer">
                <a routerLink="/principal/history" [routerLinkActive]="['active']">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </a>
            </div>
        </div>
    </div>
</div>
