.pantalla-app{
    width: 320px;
    height: 650px;
    background-color: #f6f6f9;
    border-radius: 15px;
    align-items: center;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgb(95, 95, 95);
}
.contenido{
    height: 93%;
    overflow:auto
}
.cont-footer{
    height: 2%;
}