<div class="pantalla-app">
    <div class="contenido">
        <div class="container-superior">
                <img src="assets/Eatable.svg" alt="logo" class="logo">
                <br>
                <img src="assets/Food for Everyone.png" alt="slogan">

                <div class="navbar-mini">
                    <a routerLink="/login"><button class="btn-entrar">Login</button></a>
                    <a routerLink="/register"><button class="btn-entrar">Sign-up</button></a>
                </div>
        </div>


        <div class="container-inferior">
            <form (ngSubmit)="register()" [formGroup]="registerForm">

                <div class="mb-4">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required formControlName="email">
                    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
                        class="alert alert-danger">This field is required.</div>
                </div>



                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required
                        formControlName="password">
                    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']"
                        class="alert alert-danger">This field is required.</div>
                </div>

                <div class="btn-ingreso">
                    <button type="submit" class="btn-register" [disabled]="registerForm.invalid" 
                    (click)="register()">Sign Up</button>
                </div>
        
        

