<div class="pantalla-app" *ngIf="cartList.length > 0">
  <div class="contenido">
    <div class="cabezera">
      <a [routerLink]="['/principal/home']"><i class="fa-solid fa-chevron-left"></i></a>
      <h6 class="text-center">Cart</h6>
    </div>

    <!-- <div *ngIf="cartList.length > 0"> -->
    <!-- <p *ngIf="cartList.length > 0" class="text-center">No hay platos agregados al carro</p> -->
    <ul>
      <li class="card" *ngFor="let product of cartList">
        <img [src]="product.picture_url" alt="Plato" class="plato">
        <p class="title">{{product.name}}
        <p>
        <p class="amount">{{ (product.price || 0) * (product.quantity || 0) | currency }}</p>
        <div class="aumento">
          <button class="menos" (click)="reduceQuantity(product)">-</button>
          <div class="quantity"> {{ product.quantity }}</div>
          <button class="mas" (click)="incrementQuantity(product)">+</button>
        </div>
      </li>
    </ul>
    <!-- </div> -->

    <div class="total">
      <p>Total</p>
      <span>{{ total | currency }}</span>
      <button (click)="checkout()">Checkout</button>
    </div>
  </div>

  <div class="cont-footer">
    <app-footer></app-footer>
  </div>
</div>

<!-- vacio -->
<div class="pantalla-app" *ngIf="cartList.length == 0">
  <div class="contenido1">
    <div class="cabezera">
      <a [routerLink]="['/principal/home']"><i class="fa-solid fa-chevron-left"></i></a>
      <h6 class="text-center">Cart</h6>
    </div>
    <div class="content">
      <i class="fa-solid fa-cart-shopping" style="font-size: 100px; color: #afafb1;"></i>
      <br>
      <p style="font-size: 20px;"> <b>No items in the cart</b> </p>
    </div>
    <div class="cont-footer1">
      <app-footer></app-footer>
    </div>
  </div>
</div>